@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.app {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    /* justify-content: center; */
    height: 100vh;
    padding-top: 10%;
}

.circles {
    display: flex;
    padding: 10px;   
}

button{
    font-family: 'Press Start 2P', cursive;
}